.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
     
  }
  .results {
    
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
    
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d6761d;
    padding: 10px 20px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #d6761d;
  }
  
  .nav-links li {
    margin-left: 20px;
    color: #d6761d;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
    color: rgb(173, 94, 3);
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      display: none;
    }
    .nav-links.active {
      display: flex;
    }}

.search{
  margin-top: 10px;
}